<div>
<button class="backtohome" v-on="click: currentScreen = 'livenow'">&#9776;</button>

	

<div class="app-screen" v-scroll>
	<div class="page-content">
	<h1 class="page-title">Camera 1</h1>
    
    <object width="1000" height="821"><param name="movie" value="https://www.dropcam.com/e/38dff2b32f9548d98ab5c235d76ba91e?autoplay=true"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><param name="wmode" value="opaque"></param><embed src="https://www.dropcam.com/e/38dff2b32f9548d98ab5c235d76ba91e?autoplay=true" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="1000" height="821" wmode="opaque"></embed></object>
    
	</div><!-- ///// end.page-content////// -->
</div><!-- ///// end.app-screen////// -->

</div>   