<div>
  <button class="backtohome" v-on="click: currentScreen = 'featured'" v-if="!screenSaverActive">&#9776;</button>
  <div class="app-screen" v-scroll>

    <div v-component v-with="currentEvent" class="{{categories[0].slug}}">
    
    <div class="event-single-content">
    <div class="event-single-content-inner-featured">
      <h2 class="name {{categories[0].slug}}-border-bottom">{{name}}</h2>
      
	  <!--<ul class="event-single-categories" v-repeat="categories">
	    <li class="category-{{slug}}">{{name}}</li>
	  </ul>-->
	  
	  <!-- <img src="{{image}}" /> -->
      <ul class="event-single-info-featured">
		  	<li class="start_date"><span class="featured-legend">EVENT INFO<br></span>{{start_date_alt}} &bull; <span class="light">{{start_time}}</span></li>
		  	<li class="location"><span class="light">at the </span><span class="bold"> {{location_name}}</span></li>
		  	
		  	<li>{{slug}}</li>
		  	<!--<div class="end_date">{{end_date}}</div>-->
      </ul>
      <!-- <ul class="event-single-info-featured">
		  	
	      	<li class="ticket_url" v-if='ticket_url'>
			  	<span class="ticket_url_info">Buy Tickets Now <br>
			  	<span class="ticket_url_info_sub">Visit {{ticket_url}} or scan this QR code:</span></span>
			  	<img class="ticket_url_qr" v-attr="src: {{ ticket_url|qrcode }}">
			</li>
	  </ul>
      <div class="event-content">
      <p>{{{content}}}</p>-->
      </div>
    </div> <!-- // end .event-single-content // --> 
    </div> <!-- // end .event-single-content-inner // --> 
       
   
   
    
    
    </div>

  </div>

</div>   








