<div class="app-screen">
<button class="backtohome" v-on="click: currentScreen = 'home'">&#9776;</button>

<div v-component='dropdown' class="event-filter-wrap">
  <h2>{{categoryFilterName}}</h2>
  <button class="dropdown-arrow" v-on="click: show = !show"></button>
   <ul class="event-filters" v-if="show" v-transition>
		
		<li class="upcoming"><a v-on="click: setFilter('all')" class="bytime" href="#">All Upcoming Events</a></li>

		
		
		<li><a v-on="click: setFilter('circus')" class="circus" href="#">Circus</a></li>
		<li><a v-on="click: setFilter('culinary')" class="culinary" href="#">Culinary</a></li>
		<li><a v-on="click: setFilter('dance')" class="dancemovement" href="#">Dance</a></li>
		<li><a v-on="click: setFilter('education')" class="education" href="#">Education</a></li>
		<li><a v-on="click: setFilter('film')" class="film" href="#">Film</a></li>
		<li><a v-on="click: setFilter('kids')" class="kids" href="#">Kids</a></li>
		<li><a v-on="click: setFilter('literary')" class="literary" href="#">Literary</a></li>
		<li><a v-on="click: setFilter('music')" class="music" href="#">Music</a></li>
		<li><a v-on="click: setFilter('social')" class="social" href="#">Social</a></li>
		<li><a v-on="click: setFilter('theater')" class="theater" href="#">Theater</a></li>
		<li><a v-on="click: setFilter('class')" class="visual-art" href="#">Visual Art</a></li>
	</ul>
</div>


<div class="app-screen" v-scroll>
 <ul class="event-list">
  <li v-repeat="events" v-on="tap: showEvent(this)" class="{{categories[0].slug}}-border-top">
  
  	<span class="event-list-info-wrap">
  		<span class="event-list-date">{{start_date}}</span><br><span class="event-list-time">{{start_time}}</span><br>
  		<span class="event-list-category {{categories[0].slug}}-color">{{categories[0].name}}</span><br>
  		<span class="event-list-location">{{location_name}}</span>
  	</span>
  		
  		
  	<div class="event-list-name-wrap">
    	<span class="event-list-name">{{name}}</span>
  	</div>
    
  </li>
 </ul>

 </div>

</div>   


 

                        
 

