<div>
  <button class="backtohome" v-on="click: currentScreen = 'home'">&#9776;</button>
  <div class="app-screen" v-scroll>

    <div v-component v-with="currentEvent" >
      <h2 class="name">{{name}}</h2>
        <div class="categories" v-repeat="categories">
          <div class="category category-{{slug}}">{{name}}</div>
        </div>
      <div class="location">{{start_time}}</div>
      <div class="start_date">{{start_time}}</div>
      <div class="end_date">{{start_time}}</div>
      <div class="start_time">{{start_time}}</div>
      <div class="end_time">{{start_time}}</div>
      <div class="content">
        <p>{{content}}</p>
      </div>
    </div>

  </div>

</div>   








