<div>
<button class="backtohome" v-on="click: currentScreen = 'home'">&#9776;</button>

<div class="page-header">
	<h1 class="page-title">Featured</h1>
</div>


<div class="app-screen" v-scroll>



 <ul class="event-list">

  <li v-repeat="events" v-on="tap: showFeaturedEvent(this)" class="event-list-featured-li">
  	<span class="event-list-info-wrap">
  		<!--<span class="event-list-date">{{start_date}}</span><br><span class="event-list-time">{{start_time}}</span><br>
  		<span class="event-list-category {{categories[0].slug}}-color">{{categories[0].name}}</span><br>
  		<span class="event-list-location">{{location_name}}</span>-->
  	</span>
  	<div class="event-list-name-wrap-featured">
    	<span class="event-list-name-featured">{{name}}</span>
  	</div>
  </li>

  <li v-repeat="featuredSlides"  v-on="tap: showTallSlide(this)" class="tallslide-wrap event-list-featured-li">
  	<div class="event-list-name-wrap-featured">
    	<span class="event-list-name-featured">{{name}}</span>
  	</div>  
  </li>



 </ul>

 </div>

</div>   


 

                        
 


