<div>
<button class="backtohome" v-on="click: currentScreen = 'about'">&#9776;</button>

  <div class="spacewrap first">
      <embed src="img/first_floor.svg" type="image/svg+xml"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="map" />
   </div>
   <div class="spacewrap">
      <embed src="img/second_floor.svg" type="image/svg+xml"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="map" />
   </div>


</div>                                  
 
 
