<div>
<button class="backtohome" v-on="click: currentScreen = 'about'">&#9776;</button>

<div class="page-header">
<h1>Rentals</h1>
</div>

<div class="app-screen" v-scroll>
	<div class="page-content">
		<p class="large"> Rent space at the Des Moines Social Club for your next event, class, or meeting.</p>
			
			<h4>HANDBALL COURT</h4>
			The newly restored Handball Court is ideally suited to small parties and meetings. Originally built as a Handball Court in 1938, the space has natural lighting, original wood ﬂoors and tall ceilings, giving the room an open spacious feel. This space is also suited to performances or wedding ceremonies with up to 84 attendees.
			
			Hourly – Meetings: $50/hr plus staffing and optional equipment/amenities
			Classes: $25/hr plus staffing and optional equipment/amenities
			One time Event – Up to 24 hours: $500 plus staffing and optional equipment/amenities
			
			<h4>CULINARY STUDIO</h4>
			This light-filled space is beautifully suited for parties and reception events. Enjoy the sparkling lights of downtown Des Moines for your event. The highly adaptable space can seat 100 for dinner, and be rented for unique events like cooking classes and demonstrations.
			
			Hourly – Meetings: $50/hr plus staffing and optional equipment/amenities
			One time Event – Up to 24 hours: $500 plus staffing and optional equipment/amenities
			
			<h4>KUM &amp; GO THEATER</h4>
			This easily convertible space is suited to a variety of events; performance/concert venue, wedding ceremony/reception, vendor fair, fashion show and more. Customize your rental with theatrical lighting, lobby area and dressing rooms.
			
			Hourly – Meetings: $100/hr plus staffing and optional equipment/amenities
			One time Event – 24 hours: $1,000 plus staffing and optional equipment/amenities
			
			<h4>STUDIO A</h4>
			This brand new space with mirrors and wood ﬂoors is ideally suited to movement classes. Perfect for yoga, fi tness or dance. Natural light and a built in sound system provide the perfect set up for class rentals and events.
			
			Hourly – Meetings: $30/hr plus staffing and optional equipment/amenities
			One time Event – Up to 24 hours: $300 plus staffing and optional equipment/amenities
			
			<h4>STUDIOS B &amp; C</h4>
			This newly constructed space is suited to meetings and classes of up to 20 people. Housed in the education wing of the building, these rooms are ideally suited for workshops and break out sessions.
			
			Hourly – Meetings: $30/hr plus staffing and optional equipment/amenities
			One time Event – Up to 24 hours: $300 plus staffing and optional equipment/amenities
			
			<h4>COURTYARD</h4>
			This 7,000 square foot outdoor space is perfect for hosting concerts, receptions, and other large-group events. Feel the heartbeat of downtown Des Moines in this urban, energetic setting. The stage in the northwest corner is fully-equipped to meet all of your sound and tech needs. Permanent grounding hooks make tent assembly simple and convenient.
			
			One time Event – Up to 24 hours: $1,250 plus staffing and optional equipment/amenities
			Screen Usage: $150 plus optional tech staffing
	</div><!-- ///// end.page-content////// -->
</div><!-- ///// end.app-screen////// -->

</div>   