<div class="app-screen" v-scroll>

  <div>
  <button class="backtohome" v-on="click: currentScreen = 'about'">&#9776;</button>

  <h1>Sponsors</h1>

  <ul class="sponsors">
    <li class="sponsor-level1" v-repeat="sponsors | filterBy 'level1'">
      <img src="{{image}}" alt="{{name}}">
    </li>
  </ul>

  <ul class="sponsors">
    <li class="sponsor-level2" v-repeat="sponsors | filterBy 'level2'">
      <img src="{{image}}" alt="{{name}}">
    </li>
  </ul>            

  <ul class="sponsors">
    <li class="sponsor-level3" v-repeat="sponsors | filterBy 'level3'">
      <img src="{{image}}" alt="{{name}}">
    </li>
  </ul>            

  </div>
</div>                                  


