<div>
<button class="backtohome" v-on="click: currentScreen = 'about'">&#9776;</button>



<div class="app-screen" v-scroll>
	
		
		<div class="page-content">
		<h1 class="page-title">Sponsors</h1>
		<div class="page-content-top">
			{{{modules['sponsor-page-content']['content']}}}
		</div>
		
		<ul class="sponsors">
			<li class="sponsor-level1" v-repeat="sponsors | filterBy 'level1'">
				<img src="{{image}}" alt="{{name}}">
			</li>
		</ul>
		
		<ul class="sponsors sponsors-list-level2">
			<li class="sponsor-level2" v-repeat="sponsors | filterBy 'level2'">
				<img src="{{image}}" alt="{{name}}">
			</li>
		</ul>            
		
		<ul class="sponsors">
			<li class="sponsor-level3" v-repeat="sponsors | filterBy 'level3'">
				<img src="{{image}}" alt="{{name}}">
			</li>
		</ul>  
	</div><!-- ///// end.page-content////// -->
</div><!-- ///// end.app-screen////// -->
</div>                                   



