body {
	background: #111; 
	overflow-x: hidden;
	font-family: 'proxima-nova', "Helvetica Neue", "Helvetica", Arial, sans-serif;}

#logo {position: fixed; top: 20px; left: 20px;}



ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;  
    margin-top: 500px; 
}


ul.menu li {
    list-style: none;
    width: 1080px;
    height: 239px; 
    margin-bottom: 10px;
    

}


ul.menu li button {
    font-size:7em;
    letter-spacing:-.05em;
    text-align:right;
    height:239px;
    background-color:rgba(0,0,0,0.9);
    border-bottom:none;
    border-left:none;
    border-top:1px solid #666;
    border-right:none;
    color:#ebebeb;
    text-transform:uppercase;
    float:right;
    font-weight:100;
    padding:0 80px;
}


button.backtohome {width: 150px; height: 150px; text-align: center; position: fixed; top:20px; left:20px; font-size: 5em; z-index: 9999; border: none; color: #ebebeb; font-weight: 200; text-transform: uppercase; margin: 0; padding: 0;background-color: rgba(0,0,0,0.9);}


/* ////// EVENTS /////// */
ul.event-list {color: #ebebeb; padding: 0; margin: 0;}
ul.event-list li {
	list-style: none;
    width: 1000px;
    height: 239px; 
    margin: 0 0 1px 0; 
    padding:40px;
    background: #666;
    
    text-align: right;
    font-size: 4em;
    }
    

/* ////// SPONSORS /////// */
.sponsor-level1 img {max-width: 500px;}
.sponsor-level2 img {max-width: 300px;}
.sponsor-level3 img {max-width: 150px;}

/* ////// MAP/SPACES /////// */
.spacewrap {float: right; clear: both;}
.spacewrap.first {margin-top: 150px;}