* {
    margin: 0;
    padding:0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: none;
}


html {
    cursor: none;
    overflow: hidden;
    width: 1080px;
    height: 1920px;
    overflow: hidden; 
    padding:0;
    margin:0;
}

body {
    width: 1080px;
    height: 1920px;
    overflow: hidden; 
    padding:0;
    margin:0;
    z-index: 1;
}

#app {
    position: relative;
    width: 1080px;
    height: 1920px;
    overflow: hidden;
    perspective: 500px;
}


.app-container {
    position: absolute;
    width: 1080px;
    height: 1920px;
    overflow: hidden;
    
}          

.app-screen {
    position: absolute;
    width: 1080px;
    height: 1920px;
    overflow: hidden;
}


body {
	background: #111 url('/img/bg1.jpg');
	color:#ebebeb;
	overflow-x: hidden;
	font-family: 'proxima-nova', "Helvetica Neue", "Helvetica", Arial, sans-serif;
	padding: 0;
	margin: 0;
	}

body.titlesmall h2.name {font-size:12px;}

h1,h2,h3,h4,h5,h6 {color: #ebebeb; padding: 0; margin: 0;}
h1 {font-size: 6em; text-align: right; font-weight: 400; text-transform: uppercase;}
h4 {font-size: 2.5em; text-align: left; padding: 0.8em 0 0.2em 0; font-weight: 400;}

h1.page-title {font-size: 3em; text-align: right; font-weight: 100; text-transform: uppercase; padding: 50px 50px 25px 25px; position: fixed; top:50px; right:50px;}
h1#page-title-alt {font-size: 3em; text-align: right; font-weight: 100; text-transform: uppercase; padding: 50px 50px 25px 25px; position: fixed; top:50px; right:50px;}

h3.sub-title {font-size: 3em; padding: 0 0 0.5em 0; margin: 0; line-height: 0.9em; font-weight: 200;}

p { font-size: 1.2em; margin-bottom: 15px;}
p.large {font-size: 2.5em; padding: 0; margin: 0; line-height: 0.9em;}

a {color: #eb5f7d; text-decoration: none;}
a:hover {color: #fff;text-decoration: none;}

.light {font-weight: 200;}
.bold {font-weight: 700;}

button, a {outline: none;}

iframe {border: none;}

.page-header {width: 1080px; height: 239px; background: #111;}


.page-content {padding: 240px 40px 40px 40px; font-size: 1.6em; line-height: 1.7em; width: 1080px; float: left;}
.page-content-top {font-size: 2.2em; line-height: 0.9em; font-weight: 100;}
.page-content-alt {padding: 240px 0 50px 0;font-size: 1.5em; line-height: 1.7em; width: 1080px; float: left; padding: 10px 50px;}
.page-content-inner {background-color: rgba(0,0,0,0.9); padding: 50px;}

#logo {position: fixed; top: 20px; left: 20px; -webkit-animation:fromleft 0.8s 1 ease-out;}

.nobg {background: none; }
.video-bg {width: 1080px; height: 1920px; position: absolute; z-index: 0;} 
.screen-saver-bg {width: 1080px; height: 1920px; position: absolute; z-index: 0; background:#000} 

ul.menu {
    list-style: none;
    margin: 0;
    padding: 0;  
    margin-top: 500px; 
    z-index: 9999;
}


ul.menu li {
    list-style: none;
    width: 1080px;
    height: 239px; 
    margin-bottom: 10px;
    -webkit-animation:fromright 0.8s 1 ease-out;


}


ul.menu li button {
    font-size:7em;
    letter-spacing:-.05em;
    text-align:right;
    height:239px;
    background-color:rgba(0,0,0,0.9);
    border-bottom:none;
    border-left:none;
    border-top:1px solid #666;
    border-right:none;
    color:#ebebeb;
    text-transform:uppercase;
    float:right;
    font-weight:100;
    padding:0 80px;
}


button.backtohome {width: 150px; height: 150px; text-align: center; position: fixed; top:20px; left:20px; font-size: 5em; z-index: 9999; border: none; color: #ebebeb; font-weight: 200; text-transform: uppercase; margin: 0; padding: 0;background-color: rgba(0,0,0,0.9);}


/* ////// EVENTS /////// */

.event-filter-wrap {width: 1080px; height: 239px; border-bottom: 1px solid red; background: #111;}

.dropdown-arrow {
    background-color: none;
    background: url('/img/dropdown-arrow.png');
    background-size: contain;
    position: absolute;
    top:50px;
    right: 50px;
    width: 100px;
    height: 100px;
    border: none;
}




.event-filter-wrap h2 {
    font-size:4em;
    text-align:center;
    height:239px;
    background-color:rgba(0,0,0,0.9);
    color:#ebebeb;
    text-transform:uppercase;
    font-weight:100;
    padding-top: 70px;
}


ul.event-filters {
    -webkit-transition: all 1s;
    -webkit-transform: translateY(0);
    z-index: 9999;
    list-style: none; 
    background: #111;
    padding: 0; 
    margin: 0; 
    position: absolute; 
    top:240px;
}

ul.event-filters.v-leave{
    -webkit-transform: translateY(-1920px);
} 
ul.event-filters.v-enter{
    -webkit-transform: translateY(-1920px);
}




ul.event-filters li {
    float: left; 
    width: 540px;
    height: 240px;
    margin: 0; 
    padding: 0;
    text-align: left;
}

ul.event-filters li.upcoming {
	width: 1080px;
}

ul.event-filters li a {
    height: 240px;
    display: block;
    color: #fff;
    padding:80px 20px 20px 20px;
    margin: 0;
    z-index: 9999;
    text-align: center;
    font-size: 4em;
    text-decoration: none;
}




ul.event-list {
    color: #ebebeb; padding: 0; margin: 0;
    min-height: 1921px;
}

ul.event-list li {
    list-style: none;
    width: 1080px;
    height: 239px; 
    margin: 0; 
    padding: 50px !important;
    background: #111;
    z-index: 9998;
    text-align: left;
}

.event-list-name-wrap {position: absolute; padding-right: 50px; max-width: 750px;}
span.event-list-name {font-size: 3.5em; margin: 0 0 0 0; padding: 0 0 0 0; line-height: 0.8em; font-weight: 500;}

.event-list-name-wrap-featured {position: absolute; padding: 30px 50px 0 ; max-width: 1000px;}
span.event-list-name-featured {font-size: 4em; margin: 0 0 0 0; padding: 0 0 0 0; line-height: 0.8em; font-weight: 300;}

li.event-list-featured-li {border-top: 2px solid #666;}

ul.event-list li span.event-list-info-wrap {float: right; clear: both; line-height: 0.9em;text-align: right; margin: 0; padding: 0;}
ul.event-list li span.event-list-date {font-weight: 300; font-size: 4em;line-height: 0.5em;}
ul.event-list li span.event-list-time {font-weight: 300;font-size: 2em; line-height: 1.4em;}
ul.event-list li span.event-list-category {font-weight: 300;font-size: 1em;line-height: 2em;}
ul.event-list li span.event-list-location {font-weight: 300;font-size: 1em;line-height: 2em;color: #666;}

/* ////// EVENT SINGLE /////// */

.event-single-bg {width: 1080px; height: 1920px;position: fixed;z-index: 1; top:0;} 


.event-single-content { padding: 25px; margin: 0;z-index: 9999;}
.event-single-content-inner {position: relative;background: #111; padding: 25px 50px 50px 50px; margin: 215px 0 0 0;min-height: 1800px;}
.event-single-content-inner img {width: 100%; height: auto;}
.event-single-content-inner img.alignright {width: auto; height: auto;float:right;margin: 5px 0 20px 20px;}
.event-single-content-inner img.alignleft {width: auto; height: auto;float:left;margin: 5px 0 20px 20px;}
.event-single-content-inner h2 {font-size: 5em; font-weight: 300; color: #ebebeb; margin: 0 0 10px 0; padding: 0.3em 0 0.1em 0; line-height: 1em; letter-spacing: -1px;}
.event-single-content p {font-size:2em; margin: 15px 0;}
.event-single-content strong {clear: both;}
.event-single-content b {clear: both; display: block; padding: 0.5em 0 0.1em 0;}

ul.event-single-info {list-style: none; font-size: 2.5em; font-weight: bold; clear: both; margin: 0; padding: 0 0 50px 0; float: left;}
ul.event-single-info li {margin: 0 20px 0 0; float: left;}
ul.event-single-info li.event-single-times {font-weight: 300;}
ul.event-single-info li.location {font-weight: 300;}
ul.event-single-info li.ticket_url {width: 100%; background: #fff; margin: 50px 0 0 0 ;}
ul.event-single-info li.ticket_url img {max-width: 100px; margin: 0; padding: 0; float: right;}
span.ticket_url_info {float: left; color: #111; font-size: 1.2em; font-weight: 300; line-height: 0.5em; padding: 25px 0 0 20px;}
span.ticket_url_info_sub {font-size: 0.35em;}
span.ticket_url_qr {float: right;}


.event-single-content-inner-featured {position: relative;background: none; padding: 30px 50px 30px 50px; margin: 215px 0 0 0;height:1860px; background-color: rgba (0,0,0,0.9);}
.event-single-content-inner-featured h2 {font-size: 15em; font-weight: 200; color: #ebebeb; margin: 0 0 10px 0; padding: 0.3em 0 0em 0; line-height: 0.8em; letter-spacing: -2px; text-shadow: 3px 3px 1px #666; }

ul.event-single-info-featured {list-style: none; font-size: 4.5em; font-weight: bold; clear: both; margin: 0; padding: 10px 0 10px 0; float: left; letter-spacing: -3px;}
ul.event-single-info-featured li {margin: 0 20px 0 0; float: left;text-shadow: 1px 1px 1px #666; }
ul.event-single-info-featured li.event-single-times {font-weight: 300;}
ul.event-single-info-featured li.location {font-weight: 300;}
ul.event-single-info-featured li.ticket_url {width: 100%; background: #fff; margin: 50px 0 0 0 ;}
ul.event-single-info-featured li.ticket_url img {max-width: 100px; margin: 0; padding: 0; float: right;}

span.featured-legend {font-size: 0.4em; clear: both;font-weight: 200; letter-spacing: normal; opacity: 0.3;}

.event-content {clear: both; text-align: left;}

ul.event-single-categories {list-style: none;}
ul.event-single-categories li {float: left;list-style: none; margin: 0 20px 20px 0;}
/* ////// SPONSORS /////// */
ul.sponsors {list-style: none; border-bottom: 1px solid #666; float: left; margin: 0; padding: 40px;}
ul.sponsors li {float: left;}
ul.sponsors-list-level2 {margin-left: 100px;}
.sponsor-level1 img {max-width: 450px;}
.sponsor-level2 img {max-width: 350px; padding: 0;}
.sponsor-level3 img {max-width: 300px;}

/* ////// MAP/SPACES /////// */
.spacewrap {float: right; clear: both;}
.spacewrap.first {margin-top: 150px;}


/* ////// TALL SLIDES /////// */
.tallslide {width: 1080px; min-height: 1920px;}
.tallslide-content {margin-top: 0; padding-top: 240px;}
.tallslide-content iframe {position: absolute; z-index: 2; top:0;}
.tallslide-content .whitebox {background: rgba(255,255,255,0.8);padding: 25px; margin:50px;font-size: 2em; text-align: left; color:#111;}
.tallslide-content .blackbox {background: rgba(0,0,0,.8);padding: 25px; margin:50px;font-size: 2em; text-align: left; color:#fff;}
.tallslide-content .whitebox h1 {color: #111;}
.tallslide-content .blackbox h1 {color: #fff;}
.tallslide-content h1 {font-size: 3em; text-align: left;}
.tallslide-content h2 {font-size: 2em;}
.tallslide-content h3 {font-size: 1em;}

/* ////// DISCPLINE COLORS /////// */
.visual-art {background: #35b6c2;}
.music {background: #cd4339;}
.film {background: #f1e74d;}
.literary {background: #194b74;}
.theater {background: #89c357;}
.culinary {background: #fdd372;}
.social {background: #f68139;}
.kids {background: #96d6d2;}
.dancemovement {background: #a65667;}
.circus {background: #6957a0;}
.education {background:#a3d39d;}
.featured-event {background: #e9617e;}

.visual-art-color {color: #35b6c2;}
.music-color {color: #cd4339;}
.film-color {color: #f1e74d;}
.literary-color {color: #194b74;}
.theater-color {color: #89c357;}
.culinary-color {color: #fdd372;}
.social-color {color: #f68139;}
.kids-color {color: #96d6d2;}
.dancemovement-color {color: #a65667;}
.circus-color {color: #6957a0;}
.education-color {color:#a3d39d;}
.featured-event-color {color: #e9617e;}

.visual-art-border-bottom {border-bottom: 2px solid #35b6c2;}
.music-border-bottom {border-bottom: 2px solid #cd4339;}
.film-border-bottom {border-bottom: 2px solid #f1e74d;}
.literary-border-bottom {border-bottom: 2px solid #194b74;}
.theater-border-bottom {border-bottom: 2px solid #89c357;}
.culinary-border-bottom {border-bottom: 2px solid #fdd372;}
.social-border-bottom {border-bottom: 2px solid #f68139;}
.kids-border-bottom {border-bottom: 2px solid #96d6d2;}
.dancemovement-border-bottom {border-bottom: 2px solid #a65667;}
.circus-border-bottom {border-bottom: 2px solid #6957a0;}
.education-border-bottom {border-bottom: 2px solid #a3d39d;}
.featured-event-border-bottom {border-bottom: 2px solid #e9617e;}

.visual-art-border-top {border-top: 2px solid #35b6c2;}
.music-border-top {border-top: 2px solid #cd4339;}
.film-border-top {border-top: 2px solid #f1e74d;}
.literary-border-top {border-top: 2px solid #194b74;}
.theater-border-top {border-top: 2px solid #89c357;}
.culinary-border-top {border-top: 2px solid #fdd372;}
.social-border-top {border-top: 2px solid #f68139;}
.kids-border-top {border-top: 2px solid #96d6d2;}
.dancemovement-border-top {border-top: 2px solid #a65667;}
.circus-border-top {border-top: 2px solid #6957a0;}
.education-border-top {border-top: 2px solid #a3d39d;}
.featured-event-border-top {border-top: 2px solid #e9617e;}


/* ////// ANIMATIONS /////// */

@-webkit-keyframes fromright{
    0%{-webkit-transform:translateX(200px); opacity: 0;}
    100%{-webkit-transform:translateX(0); opacity: 1.0;}
}

@-webkit-keyframes fromleft{
    0%{-webkit-transform:translateX(-200px); opacity: 0;}
    100%{-webkit-transform:translateX(0); opacity: 1.0;}
}



/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
    width: auto;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}




.screensaver {
    position: absolute;
    width: 1080px;
    height: 1920px;
    overflow: hidden;  
    border: 0 px;

}


.screensaver-cover {
    position: absolute;
    width: 1080px;
    height: 1920px;
    overflow: hidden;  
    background: rgba(255,255,255,0.01);
    border: 0 px;
}


.screensaver iframe {
    border: 0;
    position: absolute;
    width: 1080px;
    height: 1920px;
}
